/* MAIN LAYOUT */

.main-layout {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 980px) 1fr;
    /* grid-row-gap: 80px; */
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>.full {
    grid-column: 1 / -1;
}


.meme-container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 50px) 1fr;
    background-color: var(--clr1);
}