/* MAIN LAYOUT */

.main-layout {
    display: grid;
    grid-template-columns: 1fr minmax(auto, var(--s)) 1fr;
    /* grid-row-gap: 80px; */
    /* grid-template-rows: auto 1fr auto; */
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>.full {
    grid-column: 1 / -1;
}

.saved-memes {
    min-height: 700px;
}

.about-container {
    min-height: 700px;
}

.img-gallery {
    min-height: 700px;
}

.meme-container {
    display: grid;
    grid-template-columns: minmax(auto, var(--s));
    background-color: var(--clr1);
    margin: 0px auto;
    justify-self: center;
}