/* MOBILE */

@media (max-width: 640px) {
    body {
        /* background-color: pink; */
    }

    .main-layout {
        display: grid;
        grid-template-columns: 1fr minmax(auto, var(--s)) 1fr;
        /* grid-row-gap: 80px; */
    }
}

@media (min-width: 640px) {
    body {
        /* background-color: pink; */
    }
}


/* MEDIUM */
@media (min-width: 860px) {
    body {
        /* background-color: green; */
    }

    .main-layout {
        display: grid;
        grid-template-columns: 1fr minmax(auto, var(--m)) 1fr;
        /* grid-row-gap: 80px; */
    }

    .canvas-container {
        max-width: 480px;
        max-height: 480px;
    }

    .meme-container {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 50px) 1fr;
    }

    .meme-toolbox {
        grid-column: 3;
        max-height: 480px;
    }

    .img-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2em;
        padding-block: 2em;
    }

    .saved-memes {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    #gallery-search {
        grid-row: 2;
        justify-self: start;
        align-self: end;
        width: 30%;
    }

    .keywords-list {
        grid-row: 1/3;
        justify-self: end;
        align-self: center;
    }

    .hamburger {
        display: none;
    }

    .main-nav {
        flex-direction: row;
        grid-column: 2;
        grid-row: 1;
        position: static;
        justify-self: end;
        align-self: center;
        transform: translateX(0%);
        height: auto;
        justify-content: space-between;
    }

    .main-nav li {
        padding-block: 20px;
    }

    .main-nav li a {
        padding-inline: 25px;
        border-inline-end: 1px solid white;
        font-size: 1rem;
    }


    .main-nav li:last-of-type a {
        border-inline-end: none;
    }

    .emoji-container {
        max-height: 80px;
    }

    .emoji {
        font-size: 2rem;
    }

    .btn-save {
        width: 5rem;
    }

    .btn-share {
        width: 5rem;
    }

    .btn-download {
        width: 5rem;
    }

    .about-container {
        flex-direction: row;
        justify-content: center;
    }

    .about-details {
        align-self: center;
        align-items: flex-start;
        margin-inline-start: 1em;
        text-align: start;
    }
}

/* LARGE */
@media (min-width: 980px) {

    .main-layout {
        display: grid;
        grid-template-columns: 1fr minmax(auto, var(--l)) 1fr;
        /* grid-row-gap: 80px; */
    }

    .meme-container {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 50px) 1fr;
    }

    .meme-toolbox {
        grid-column: 3;
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 3fr 2fr 1fr;
        margin-block: 1em;
    }

    .img-gallery {
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 2em;
        padding-block: 2em;
    }

    .btn {
        width: 3.75rem;
        height: 3.75rem;
    }

    .btn-save {
        width: 7.5rem;
    }

    .btn-share {
        width: 7.5rem;
    }

    .btn-download {
        width: 7.5rem;
        height: 3.75rem;
    }
}