.img-gallery {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding-block: 2em;
}

.img-gallery img:hover {
    cursor: pointer;
}

.saved-memes {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding-block: 2em;
}

.saved-memes img:hover {
    cursor: pointer;
}

.add-image {
    max-width: 170px;
}