

.header {
    background-color: var(--clr-brand);
}


/* .main-nav {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: center;
} */


.main-nav li a {
    color: white;
    font-weight: 400;
    font-size: 2rem;
    margin-block: 1em;
    border-bottom: 1px solid salmon;
    /* border-inline-end: 1px solid white; */
    /* padding-inline: 25px; */
}
/* 
.main-nav li:last-of-type a {
    border-inline-end: none;
} */

.hamburger {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: end;
    padding: 0.75rem;
    margin: 0.25rem;
    font-size: 2rem;
    background-color: var(--clr-brand);
    border: none;
    color: white;
}


/* burger menu later on */
.main-nav {
    position: fixed;
    flex-direction: column;
    top: 0px;
    right: 0px;
    height: 100vh;
    background-color: var(--clr-brand);
    opacity: 0.9;
    min-width: 200px;
    transform: translateX(100%);
    transition: transform 0.6s;
    text-align: center;
}

.menu-open .main-nav {
    transform: translateX(0);
}

/* .main-nav:not(menu-open) */

.main-screen {
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	pointer-events: none;
}

body.menu-open .main-screen.menu-background {
	pointer-events: auto;
	opacity: 1;
}
