
.keywords {
    padding-block-start: 20px;
}

#gallery-search {
    grid-row: 2;
    justify-self: start;
    align-self: end;
}

.keywords label {
    grid-row: 1;
    align-self: start;
    justify-self: start;
}

.keywords-list {
    grid-row: 1/3;
    justify-self: end;
    align-self: center;
}

.keywords-list span {
    padding-inline-end: 2rem;
}