
.logo {
    grid-column: 1;
    grid-row: 1;
    width: 8.35rem;
    height: 1.375em;
    background-image: url('../../img/LOGO/LOGO.png');
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    justify-self: start;
}

.footer .logo {
    width: 8.35rem;
    margin-block-end: 1em;
}