.meme-toolbox {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 3fr 2fr 1fr;
    margin-block: 1em;
}

.meme-toolbox #lineText {
    grid-row: 1;
    grid-column: 1/-1;
    align-self: start;
    border-radius: 0.75rem;
    background-color: white;
    height: 3em;
    margin: 1em;
}

#lineText::placeholder {
    font-family: Montserrat;
    transform: translateX(2%);
    font-weight: 600;
}

.btns-group1 {
    grid-row: 1;
    grid-column: 1/-1;
    align-self: end;
    justify-self: center;
}

.btns-group2 {
    grid-row: 2;
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
    margin-block-end: 2em;
}

.btns-group3 {
    grid-row: 2;
    grid-column: 1/-1;
    justify-self: center;
    align-self: end;
}

.emoji-container {
    grid-row: 3;
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
    border-radius: 0.75rem;
    background-color: white;
    padding-block: 1em;
}

.btns-group4 {
    grid-row: 4;
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
}

.btn {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 0.75rem;
    display: inline-block;
    border: none;
}

/* toolbox buttons */
.meme-toolbox .btn {
    background-size: 66% 66%;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-add {
    background-color: white;
    background-image: url('../../img/ICONS/add.png');
}

.btn-updown {
    background-color: white;
    background-image: url('../../img/ICONS/up-and-down-opposite-double-arrows-side-by-side.png');
}

.btn-delete {
    background-color: white;
    background-image: url('../../img/ICONS/trash.png');
}

.btn-font-inc {
    background-color: white;
    background-image: url('../../img/ICONS/increase-font.png');
}

.btn-font-dec {
    background-color: white;
    background-image: url('../../img/ICONS/decrease-font.png');
}

.btn-align-left {
    background-color: white;
    background-image: url('../../img/ICONS/align-to-left.png');
}

.btn-align-right {
    background-color: white;
    background-image: url('../../img/ICONS/align-to-right.png');
}

.btn-align-mid {
    background-color: white;
    background-image: url('../../img/ICONS/center-text-alignment.png');
}

.clr-stroke {
    opacity: 0;
}

.clr-stroke:hover {
    cursor: pointer;
}

.clr-fill {
    opacity: 0;
}

.clr-fill:hover {
    cursor: pointer;
}

.btn-clr-stroke {
    background-color: white;
    background-image: url('../../img/ICONS/text-stroke.png');
}

.btn-clr-fill {
    background-color: white;
    background-image: url('../../img/ICONS/paint-board-and-brush.png');
}

.select-font {
    height: 3.75rem;
    width: 7.5rem;
    border: none;
    border-radius: 0.75rem;
    margin-inline-end: 1em;
    font-size: 1rem;
}

.btn-prev {
    background-color: white;
}

.btn-next {
    background-color: white;
}

.btn-share {
    font-family: Montserrat;
    color: white;
    background-color: var(--clr-brand);
    font-weight: 400;
    width: 120px;
}

.btn-download {
    display: inline-block;
    font-family: Montserrat;
    color: white;
    background-color: var(--clr-brand);
    padding-block: 1.25rem;
    border-radius: 0.75rem;
    width: 120px;
    text-align: center;
}

.btn-save {
    font-family: Montserrat;
    color: white;
    background-color: var(--clr-brand);
    font-weight: 400;
    width: 120px;
}

/* emoji span */
.emoji {
    display: inline-block;
    font-size: 2.5rem;
    padding-inline: 0.25rem;
    cursor: pointer;
}

/* inner display */